{% extends 'base.html' %}

{%block title%} Main {%endblock%}

{%block content%}
    <div class="container-sm text-center my-4">
        <h1 class="display-3">Welcome to the To do List</h1>
        <p class="lead">We are the best place for notes</p>
        <hr class="my-4">
        <p>Do you have an account?</p>

        <div class="d-flex justify-content-center">
            <a href="{{url_for('auth.login')}}" class="btn btn-primary mx-2">Login</a>
            <a href="{{url_for('auth.register')}}" class="btn btn-primary mx-2">Register</a>
        </div>
        
    </div>
{%endblock%}